<!DOCTYPE html>
<head>
  <title>OpenAI playcd</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
<div>
  <h1>Various OpenAI models</h1>
  <h2>&#9998;Text (text-davinci-003)</h2>
  <form action="/response/text" method="post">
    <label>
      <textarea name="text_input" placeholder="Enter your request" rows="4" cols="50"></textarea>
    </label>
    <input type="submit" id="text" value="Do request"/>
  </form>
  {% if text_result %}
  <div class="result">{{ text_result }}</div>

  {% endif %}

  <h2>&#128396;Generate AI Image using Dali</h2>
  <form action="/response/image" method="post">
    <label>
      <textarea name="image_input" placeholder="Enter your image description" rows="4"
              cols="50"></textarea>
    </label>
    <input type="submit" id="image" value="Do request"/>
  </form>
  {% if image_result %}
  <div class="result">
    <img alt="generated image" src="{{ url_for( 'static', filename=image_result )}}">
  </div>

  {% endif %}
</div>
</body>
